{% extends "blog/base.html" %}

{% block content %}
    <div class="col-md-3">
        <h1>Report about: {{ post.title }}</h1>
    </div>
    <div class="col-md-9">
        <div class="post">
            {% if post.published_date %}
                <div class="date">
                    {% if user.is_authenticated %}
                    &nbsp;<a class="edit btn btn-default" href='{% url "post_edit" pk=post.pk %}'><span class="glyphicon glyphicon-pencil"></span></a>&nbsp;
                    {% endif %}
                    {{ post.published_date }}
                </div>&nbsp;
            {% endif %}
            {% if post.image_name %}
            <img class="lazy" height="150" width="150" src=/static/img/{{post.image_name}} >
            {% endif %}
            <p>{{ post.text|safe|linebreaks}}</p>
        </div>
    </div>
{% endblock %}
