{% extends "blog/base.html" %}

{% block content %}
    <div class="col-md-2">
            <div class="pagetitle-wrap">
                <h1>Blog</h1>
            </div>
        </div>
    <div class="col-md-8">
    {% for post in posts %}
        <div class="list post">
            <div class="date">
                <span>{{ post.published_date }}</span>
            </div>
            <div class="wrap-h1">
                <h1><a href="{% url "post_detail" pk=post.pk %}">{{ post.title }}</a></h1>
            </div>
            <div class="wrap-text">
                <p>{{ post.text|safe|truncatewords:15 }} </p>
            </div>
        </div>
        <div class="bold_line"></div>
    {% endfor %}
    </div>
    <div class="col-md-2">
        <div class="sidebar-wrap">
            <h3>Social Networks</h3>
            <div class="twit-wrap">
                <a class="twitter-timeline" href="https://twitter.com/SweetBeeSrb" data-widget-id="651412120618303488">Tweets by @SweetBeeSrb</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div>
        </div>
    </div>
{% endblock content %}
